<li class='link'>
  <a class='title' href="<%= link.url %>"><%= link.title %></a>
  <div class='description'>
    A random website with lots of useless trivia
  </div>
  <span class='source'>
    added yesterday by 
    <a href="#">jj_newman@hotmail.com</a>
  </span>
</li>